<div class="list">

  <!-- div for adding todos to the application -->
  <div class="add">
    <!-- ng-click here connects the addTodo function from main.js to the view -->
    <a href="" ng-click="addTodo()">+ Add a New Task</a>
  </div>
  <!-- ng-repeat is the built in directive to repeat the html template through a javascript array or object
  'todo in todos' is the syntax.  So, do everything in this div for each item from the 'todos' json object. -->
  <!-- ng-class - This is a directive for triggering CSS classes based on state.  You pass in an object, with the CSS class as the key.
  The expression is the value.  If it evaluates to 'true', the class is passed to the element, which allows CSS written for that class to be applied -->
        <!-- The "'edited': todo.edited" key value pair applies a class based on the ng-click directive in the label. -->
        <!-- This will be false when a todo hasn't been edited (so class and css aren't added) but true when a todo has been edited, so class and CSS WILL be applied -->
        <!-- Adding 'completed': todo.completed adds the class completed which applies appropriates styles (crossing out todo) -->
        <!-- "orderBy" is a built in angular command that allows you to specify an attribute of the list elements to order the list by -->
          <!-- We're using it to move completed (true) todos to the bottom of the list -->
              <!-- But, this makes angular put the "true" completed tasks at the top -->
              <!-- To reverse a filter, add another colon and specify 'true'  'reverse is true' orderBy: 'completed': true -->
              <!-- This didnt' work how we wanted though - undefined would be first, true would be second, then false would be last.  But, because undefined and false aren't treated the same.  So, undefined will be above, then false, then true, putting completed todos in the middle
                Solution:  "ng-init" - This makes every todo start out with a value.  In this case, completed for all is false, rather than undefined.  We also got rid of the reverse at this point, since it wasn't needed. -->

                <!-- To make this work with new Todos, we had to use the unshift method, rather than push in the main js.  This will put new todos to the beginning of the list, rather than the middle (between false completed todos and true completed todos) -->

  <div class="item" ng-class="{'editing-item': editing, 'edited': todo.edited, 'completed': todo.completed}" ng-repeat="todo in todos | orderBy: 'completed'" ng-init="todo.completed = false">

    <!-- ng-model here makes the checkbox state recorded as true or false (checked or unchecked) in the 'todo' object with the 'completed' key -->
    <input type="checkbox" ng-model="todo.completed"/>
    <!-- This span element is because of the CSS span element with custom checkboxes -->
    <!-- "todo.completed = !todo.completed" makes a click change the completed key value to its opposite. -->
    <!-- "todo.edited = true" - this is so that checked (or unchecked) todos return a value of edited = true.  This allows them to be saved as a group with other todos in the saveTodos function.  --> -->
    <span ng-click="todo.completed = !todo.completed; todo.edited = true"></span>

    <!-- <label> tag is used to display the to-do -->
    <!-- editing is true when the todo is being edited, false when its not being edited -->
    <!-- Each state (edited or not edited) can have its own set of application logic -->

    <!-- ng-click causes an expression to evaluate on click. -->
    <!-- Here, it causes the editing to be true, which triggers the 'editing true' CSS -->
    <!-- ng-click="editing = !editing" causes it to
    do the reverse of its current state -->
    <!-- ng-hide - When editing is true, the label is hidden, when false, its not hidden -->
    <!-- ng-click="editing=true" - This causes the editing to be true when the user clicks on the todo box, not just the edit button -->

    <label ng-click="editing = true" ng-hide="editing" ng-click="helloWorld()">
      <!-- {{todo.name}} just renders the name from the scope data object.  {{}} is an angular convention. -->
      {{todo.name}}</label>

    <!-- <input> tag is used to edit the todo -->
      <!-- 'ng-model' tag binds the value in the input to an object in the scope.
      So, the input gets binded to the 'todo' object wiht the key of 'name' -->
      <!-- ng show - when the expression evalutes to true, the element shows.  When it evaluates to false it doesn't.
            So, when editing is true the box is shown, it's not shown when editing is false. -->
      <!-- when inside the ng-repeat directive, the ng-model="todo.name" automatically assigns each todo as a value for the name key in a data object, inside the array. -->
      ng-blur = Means when a user clicks somewhere OUTSIDE of the element. So, when a user clicks outside the input, it makes editing false.
          <!-- - In practice, this means that when they are editing, they can click anywhere else on the screen (blur), and editing becomes false, making the box disappear.  (ng-show happens when editing = true) -->
          <!-- ng-change allows you to watch for changes, then evaluate an expression when the value changes. -->
              <!-- In this case, if the inputs value changes at all (is edited at all), todo.edited value becomes false in the data object.  This allows you to keep track of when an input has been edited.  Here, its used to add special CSS to edited todos (adding 'edited' text to todos that have been edited.) -->
    <input ng-change="todo.edited = true" ng-blur="editing = false;" ng-show="editing" ng-model="todo.name" class="editing-label" type="text"/>

    <!-- Save and Edit buttons -->
    <!-- The hrefs are empty, since angular apps are single pages, so don't want to go anywhere -->
    <div class="actions">
      <!-- // ng-click directive is used to save the current todo -->
      <a href="" ng-click="saveTodos(todo)">Save</a>
      <!-- // ng-click="deleteTodo" function runs the deleteTodo function on click that is in the main.js file
      // This method was part of the dataService service, in the data.js, and can be used in main.js (and in this html scope) because
      //    dataService is a dependency in the controller that's in main.js -->
      <!-- // For each item in a ng-repeat, angular gives you an $index variable.  $index is the position of the current todo in the todos array. -->
      <a href="" ng-click="deleteTodo(todo, $index)"  class="Delete">delete</a>
    </div>
   </div>
</div>

    <!-- Many classes are related to the provided CSS -->
