<div class="list">
  <div class="add">
    <a href="" ng-click="addTodo()">+ Add a New Task</a>
  </div>
  <!-- ng-repeat is the built in directive to repeat the html template through a javascript array or object
  'todo in todos' is the syntax.  So, do everything in this div for each item from the 'todos' json object. -->
  <div class="item" ng-class="{'editing-item': editing, 'edited': todo.edited, 'completed': todo.completed}" ng-repeat="todo in todos | orderBy: 'completed'" ng-init="todo.completed = false">

    <!-- ng-model here makes the checkbox state recorded as true or false (checked or unchecked) in the 'todo' object with the 'completed' key -->
    <input type="checkbox" ng-model="todo.completed"/>
    <span ng-click="todo.completed = !todo.completed; todo.edited = true"></span>

    <!-- <label> tag is used to display the to-do -->
    <!-- editing is true when the todo is being edited, false when its not being edited -->
    <!-- Each state (edited or not edited) can have its own set of application logic -->

    <!-- ng-click causes an expression to evaluate on click. -->
    <!-- Here, it causes the editing to be true, which triggers the 'editing true' CSS -->
    <!-- ng-click="editing = !editing" causes it to
    do the revers of its current state -->
    <!-- ng-hide - When editing is true, the label is hidden, when false, its not hidden -->
    <label ng-click="editing = true" ng-hide="editing" ng-click="helloWorld()">
      <!-- {{todo.name}} just renders the name from the scope data object.  {{}} is an angular convention. -->
      {{todo.name}}</label>

    <!-- <input> tag is used to edit the todo -->
      <!-- 'ng-model' tag binds the value in the input to an object in the scope.
      So, the input gets binded to the 'todo' object wiht the key of 'name' -->
      <!-- ng show - when the expression evalutes to true, the element shows.  When it evaluates to false it doesn't.
            So, when editing is true the box is shown, it's not shown when editing is false. -->
      <!-- when inside the ng-repeat directive, the ng-model="todo.name" automatically assigns each todo as a value for the name key in a data object, inside the array. -->
      ng-blur = Means when a user clicks somewhere OUTSIDE of the element. So, when a user clicks outside the input, it makes editing false.
          <!-- - In practice, this means that when they are editing, they can click anywhere else on the screen (blur), and editing becomes false, making the box disappear.  (ng-show happens when editing = true) -->
    <input ng-change="todo.edited = true" ng-blur="editing = false;" ng-show="editing" ng-model="todo.name" class="editing-label" type="text"/>

    <!-- Save and Edit buttons -->
    <!-- The hrefs are empty, since angular apps are single pages, so don't want to go anywhere -->
    <div class="actions">
      <a href="" ng-click="saveTodos(todo)">Save</a>
      <a href="" ng-click="deleteTodo(todo, $index)"  class="Delete">delete</a>
    </div>
   </div>
</div>

    <!-- Many classes are related to the provided CSS -->
